@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

.smaller {
  font-weight: 300;
  font-size: 70%;
}

.contact-form {
  background: white;
  z-index: 5;
  margin: 0 auto;
 width: 400px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 5px;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.logo-wrapper {
  display: flex;
}
h2 {
  font-weight: 300;
  font-size: 3em;
  line-height: 1;
  margin: 0 0 30px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 200px 0 0 -100px;
}
h2 strong {
  font-weight: 700;
  display: block;
}
.scrum {
  color: #e0dfdf;
  display: block;
}

form .control {
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px;
  width: 360px;
}

form input, form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  outline: none;
  padding: 10px 0;
}
  
form .control label {
  position: absolute;
  top: 30px;
  left: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}

form .filled label, form input:focus + label, form textarea:focus + label {
  top: 0;
  font-size: 12px;
}

form .submit-btn {
  margin-top: 22px;
}

input:-internal-autofill-selected {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="text"]
{
    background: transparent;
    
}

.contact {
 
  position: relative;
  top: -25px;
  left: -50px;
  
  
}